<!DOCTYPE html>
<html>

<head>
  <title>Discogs My Head</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>

<body>
    
  <h1><p></p>Now Playing</h1>
  <div>
    <form action="/" id="form" class="form" method="POST">
        <p class="artist"><%= contents.artists[0].name %></p>
        <p></p>
        <p class="title"><%= contents.title %></p>
        <button type="submit" class="form-submit">Next</button>
        <img class="image" src=<%= contents.cover_image %> />
        <p>
        <% tracklist.forEach(track => { %>
            Track <%= track.position %>: <%= track.title %> (<%= track.duration %>)</br>
          <% }) %>
        </p>
    </form>
    
  </div>
</body>

</html>